altair
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
Bottleneck
Brotli
cachetools
certifi
cffi
chardet==5.2.0
charset-normalizer
click
colorama
comm
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
gitdb
GitPython
h11
holidays==0.75
httpcore
httpx
idna
importlib_metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
pdfrw==0.4
pickleshare
pillow
platformdirs
plotly
prometheus_client
prompt-toolkit
protobuf==4.25.3
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
PyMuPDF==1.25.0
PyPDF2==3.0.1
PySocks
python-dateutil
python-json-logger
pytz
pywin32==305.1
pywinpty
PyYAML
pyzmq
referencing
reportlab==4.2.5
requests
rfc3339-validator
